            <div class="row">
                <div class="form-group col-md-6">
                    <label for="course" class="col-form-label">Course</label>
                    <input type="text" th:field="*{course}" class="form-control" id="course" placeholder="Course">
                    <span th:if="${#fields.hasErrors('course')}" th:errors="*{course}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="quarter" class="col-form-label">Quarter</label>
                    <input type="text" th:field="*{quarter}" class="form-control" id="quarter" placeholder="Quarter">
                    <span th:if="${#fields.hasErrors('quarter')}" th:errors="*{quarter}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="instructor" class="col-form-label">Instructor</label>
                    <input type="text" th:field="*{instructor}" class="form-control" id="instructor" placeholder="Instructor">
                    <span th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}" class="text-danger"></span>
                </div>
            </div>
