<div class="row">
    <div class="form-group col-md-6">
      <label for="startTime" class="col-form-label">Start Time</label>
      <input
        readonly
        type="text"
        th:field="*{startTime}"
        class="form-control"
        id="startTime"
        placeholder="Start Time"
      />
      <span
        th:if="${#fields.hasErrors('startTime')}"
        th:errors="*{startTime}"
        class="text-danger"
      ></span>
    </div>
    <div class="form-group col-md-6">
      <label for="endTime" class="col-form-label">End Time</label>
      <input
        readonly
        type="text"
        th:field="*{endTime}"
        class="form-control"
        id="endTime"
        placeholder="End Time"
      />
      <span
        th:if="${#fields.hasErrors('endTime')}"
        th:errors="*{endTime}"
        class="text-danger"
      ></span>
    </div>
    <div class="form-group col-md-6">
      <label for="quarter" class="col-form-label">Quarter</label>
      <input
        readonly
        type="text"
        th:field="*{quarter}"
        class="form-control"
        id="quarter"
        placeholder="Quarter"
      />
      <span
        th:if="${#fields.hasErrors('quarter')}"
        th:errors="*{quarter}"
        class="text-danger"
      ></span>
    </div>
</div>