<div class="row">
  <div class="form-group col-md-6">
    <label for="tutor" class="col-form-label">Tutor Name</label>
    <input
      type="text"
      th:field="*{tutor}"
      class="form-control"
      id="tutor"
      placeholder="Tutor Name"
    />
    <span
      th:if="${#fields.hasErrors('tutor')}"
      th:errors="*{tutor}"
      class="text-danger"
    ></span>
  </div>
  <div class="form-group col-md-6">
    <label for="fname" class="col-form-label">Course Title</label>
    <input
      type="text"
      th:field="*{courseOffering}"
      class="form-control"
      id="courseOffering"
      placeholder="Course Title"
    />
    <span
      th:if="${#fields.hasErrors('courseOffering')}"
      th:errors="*{courseOffering}"
      class="text-danger"
    ></span>
  </div>
</div>
