<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Tutors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <h1>Tutor Management System Proof of Concept</h1>
    <div class="alert alert-danger" th:if="${errorIsAssignedQuarter}">
      Cannot assign a tutor to more than one course in a given quarter!
    </div>
    <div th:switch="${tutors}" class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2 th:case="null">No tutors yet!</h2>
          <div th:case="*">
            <h2 class="my-5">Tutors</h2>
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>level</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tutor : ${tutors}">
                  <td th:text="${tutor.id}"></td>
                  <td th:text="${tutor.fname}"></td>
                  <td th:text="${tutor.lname}"></td>
                  <td th:text="${tutor.email}"></td>
                  <td th:text="${tutor.level}"></td>
                  <td>
                    <a
                      th:href="@{/tutors/show/{id}(id=${tutor.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-check ml-2"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      th:href="@{/tutors/edit/{id}(id=${tutor.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-edit ml-2"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      th:href="@{/tutors/delete/{id}(id=${tutor.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-times ml-2"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group row">
            <label for="js-tutors-csv" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <a href="/tutors/create" class="btn btn-primary"
                ><i class="fas fa-user-plus ml-2"></i
              ></a>
              <a href="/tutorCSV" class="btn btn-primary"
                 >Download CSV<i class="fas fa-download"></i
              ></a>
            </div>
        </div>
      </div>
    </div>

    <div th:switch="${courseOfferings}" class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2 th:case="null">No course offerings yet!</h2>
          <div th:case="*">
            <h2 class="my-5">Course Offerings</h2>
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Course</th>
                  <th>Quarter</th>
                  <th>Instructor</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="co : ${courseOfferings}">
                  <td th:text="${co.id}"></td>
                  <td th:text="${co.course}"></td>
                  <td th:text="${co.quarter}"></td>
                  <td th:text="${co.instructor}"></td>
                  <td>
                    <a
                      th:href="@{/courseOfferings/edit/{id}(id=${co.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-edit ml-2"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      th:href="@{/courseOfferings/delete/{id}(id=${co.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-times ml-2"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="my-5">
            <a href="/courseOfferings/create" class="btn btn-primary"
              ><i class="fas fa-user-plus ml-2"></i
            ></a>
          </p>
        </div>
      </div>
    </div>

    <div th:switch="${timeSlots}" class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2 th:case="null">No time slots yet!</h2>
          <div th:case="*">
            <h2 class="my-5">Time Slots</h2>
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="timeSlot : ${timeSlots}">
                  <td th:text="${timeSlot.startTime}"></td>
                  <td th:text="${timeSlot.endTime}"></td>
                  <td>
                    <a
                      th:href="@{/timeSlots/edit/{id}(id=${timeSlot.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-edit ml-2"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      th:href="@{/timeSlots/delete/{id}(id=${timeSlot.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-times ml-2"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="my-5">
            <a href="/timeSlots/create" class="btn btn-primary"
              ><i class="fas fa-user-plus ml-2"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div th:switch="${tutorAssignments}" class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2 th:case="null">No tutor assignments yet</h2>
          <div th:case="*">
            <h2 class="my-5">Tutor Assignments</h2>
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>t.id</th>
                  <th>fname</th>
                  <th>lname</th>
                  <th>email</th>
                  <th>Level</th>
                  <th>co.id</th>
                  <th>Course</th>
                  <th>Quarter</th>
                  <th>Instructor</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="ta : ${tutorAssignments}">
                  <td th:text="${ta.id}"></td>
                  <td th:text="${ta.tutor.id}"></td>
                  <td th:text="${ta.tutor.fname}"></td>
                  <td th:text="${ta.tutor.lname}"></td>
                  <td th:text="${ta.tutor.email}"></td>
                  <td th:text="${ta.tutor.level}"></td>
                  <td th:text="${ta.courseOffering.id}"></td>
                  <td th:text="${ta.courseOffering.course}"></td>
                  <td th:text="${ta.courseOffering.quarter}"></td>
                  <td th:text="${ta.courseOffering.instructor}"></td>
                  <td>
                    <a
                      th:href="@{/tutorAssignments/delete/{id}(id=${ta.id})}"
                      class="btn btn-primary"
                      ><i class="fas fa-user-times ml-2"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div th:switch="${roomsModel}" class="container my-5">
        <div class="row">
          <div class="col-md-6">
            <h2 th:case="null">No Rooms yet!</h2>
            <div th:case="*">
              <h2 class="my-5">Rooms</h2>
              <table class="table table-striped table-responsive-md">
                <thead>
                  <tr>
                    <th>Building Name</th>
                    <th>Room Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="rm : ${roomsModel}">
                    <td th:text="${rm.buildingname}"></td>
                    <td th:text="${rm.roomNumber}"></td>
                    <td>
                      <a
                        th:href="@{/rooms/edit/{id}(id=${rm.roomNumber})}"
                        class="btn btn-primary"
                        ><i class="fas fa-user-edit ml-2"></i
                      ></a>
                    </td>
                    <td>
                      <a
                        th:href="@{/rooms/delete/{id}(id=${co.id})}"
                        class="btn btn-primary"
                        ><i class="fas fa-user-times ml-2"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p class="my-5">
              <a href="/rooms/create" class="btn btn-primary"
                ><i class="fas fa-user-plus ml-2"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
  </body>
</html>
