<div class="row">
        <div class="form-group col-md-6">
          <label for="bname" class="col-form-label">First Name</label>
          <input
            type="text"
            th:field="*{bname}"
            class="form-control"
            id="bname"
            placeholder="First Name"
          />
          <span
            th:if="${#fields.hasErrors('bname')}"
            th:errors="*{bname}"
            class="text-danger"
          ></span>
        </div>
        <!-- <div class="form-group col-md-6">
          <label for="lname" class="col-form-label">Last Name</label>
          <input
            type="text"
            th:field="*{lname}"
            class="form-control"
            id="lname"
            placeholder="Last Name"
          />
          <span
            th:if="${#fields.hasErrors('lname')}"
            th:errors="*{lname}"
            class="text-danger"
          ></span>
        </div>
        <div class="form-group col-md-6">
          <label for="email" class="col-form-label">Email</label>
          <input
            type="text"
            th:field="*{email}"
            class="form-control"
            id="email"
            placeholder="Email"
          />
          <span
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
            class="text-danger"
          ></span>
        </div> -->
      </div>
      